@import "./globals.css";

@font-face {
  font-family: 'League Spartan';
  src: url('fonts/leaguespartan-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lekton';
  src: url('fonts/Lekton-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: var(--dm-background-gradient-end);
  height: 100vh;
  background-image: url("media/stars.png"), url("media/background-gradient.png"), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

#index-page-body {
  overflow-y: hidden;
}

/* #work-page-body {
  background-image: url("media/stars.png"), url("media/background-gradient.png"), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 2000px);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

#about-page-body {
  background-image: url("media/stars.png"), url("media/background-gradient.png"), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 80%);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

#about-page2-body {
  background-color: white;
}

#contact-page-body {
  background-image: url("media/stars.png"), url("media/background-gradient.png"), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 80%);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
} */

h1 {
  margin: 4px;
  font-size: 60px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
}

h2 {
  margin: 4px;
  font-size: 25px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
  font-style: italic;
}

h3 {
  margin: 4px;
  font-size: 18px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
}

p1 {
  font-size: 20px;
  font-family: "Lekton", Arial, sans-serif;
  color: var(--dm-green);
}

p2 {
  font-size: 15px;
  font-family: "Lekton", Arial, sans-serif;
  color: var(--dm-green);
}

p3 {
  font-size: 20px;
  color: var(--dm-green);
  font-family: "League Spartan", Arial, sans-serif;
  text-indent: 0;
}

a {
  font-size: 25px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--dm-blue);
}

a:active {
  text-decoration: none;
}

.gradient-slide {
  background: linear-gradient(90deg, var(--dm-green), var(--dm-green), var(--dm-blue), var(--dm-blue), var(--dm-green), var(--dm-green));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%;
  animation: rainbow 20s ease infinite;
  display: block;
  position: absolute;
}

@keyframes rainbow {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.sheen-slide {
  background: linear-gradient(-75deg, var(--dm-sheen-start) 0%, var(--dm-sheen-start) 49%, var(--dm-sheen-end) 49%, var(--dm-sheen-end) 51%, var(--dm-sheen-start) 51%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: slide 6s infinite;
  position: absolute;
}

@keyframes slide {
  from {
    background-position: 180%;
  }

  to {
    background-position: -80%;
  }
}

.home-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  filter: drop-shadow(10px 10px 15px var(--dm-drop-shadow));
}

.home-menu-container {
  padding: 30px;
  outline: solid;
  outline-width: 5px;
  outline-color: var(--dm-green);
  border-radius: 10px;
}

/* dark modes */

.page-header-content-dm {
  background-color: var(--lm-background) !important;
}

.page-header-content-dm a {
  color: var(--lm-green);
}

.page-header-content-dm a:hover {
  color: var(--dm-blue);
}

.home-center-dm {
  filter: none;
}

.home-center-dm .home-icon-border .icon-text-border p1 {
  color: var(--lm-green)
}

.home-menu-container-dm {
  outline-color: var(--lm-green);
  filter: none;
}

.home-menu-container-dm a {
  color: var(--lm-green);
}

.home-menu-container-dm a:hover {
  color: var(--dm-blue);
}

.home-menu-container-dm p1 {
  color: var(--lm-green);
}

.home-menu-container-dm .home-title .gradient-slide {
  background: linear-gradient(90deg, var(--lm-green), var(--lm-green), var(--dm-blue), var(--dm-blue), var(--lm-green), var(--lm-green));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%;
  animation: rainbow 20s ease infinite;
  display: block;
  position: absolute;
}

.body-dm {
  height: 100vh;
  background-color: var(--lm-background);
  background-image: url("media/background-lm.png"), linear-gradient(var(--lm-background), var(--lm-background) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.page-footer-dm {
  background-color: var(--lm-footer-background)!important;
}

.page-footer-dm p1 {
  color: var(--lm-green)!important;
}

.light-toggle-dm {
  background-color: var(--lm-green)!important;
  color: var(--lm-background)!important;
}

.light-toggle-dm:hover {
  color: var(--dm-blue)!important;
}

.page-title-dm {
  filter: none!important;
}

.page-title-dm .page-title-text p1 {
  color: var(--lm-green);
}

.page-title-dm .page-title-text .gradient-slide {
  background: linear-gradient(90deg, var(--lm-green), var(--lm-green), var(--dm-blue), var(--dm-blue), var(--lm-green), var(--lm-green));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%;
  animation: rainbow 20s ease infinite;
  display: block;
  position: absolute;
}

.info-text-dm {
  border-color: var(--lm-green)!important;
  background-color: transparent!important;
}

.info-text-dm p3 {
  color: var(--lm-green);
}

.info-text-dm .socials-icons a {
  color: var(--lm-green);
}

.info-text-dm .socials-icons a:hover {
  color: var(--dm-blue);
}

.info-text-dm .socials-icons p1 {
  color: var(--lm-green);
}

.portrait-wrapper-dm {
  filter: none!important;
}

/*  */

.home-icon-border {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.home-title {
  position: relative;
}

.home-title h1 {
  color: transparent;
}

.icon-text-border {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 3%;
  padding-right: 3%;
}

#links {
  display: flex;
  flex-direction: column;
}

#links a {
  margin: 4px;
}

.socials-icons {
  text-align: center;
}

.socials-icons .fa {
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.light-toggle-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.light-toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--dm-background-gradient-start);
  color: var(--dm-green);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

.light-toggle:hover {
  color: var(--dm-blue);
}

.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: fit-content;
  background-color: var(--dm-footer-background);
  color: white;
  text-align: right;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.page-footer p1 {
  font-size: 12px;
  padding: 5px;
}

.page-header-content {
  padding: 10px;
  background-color: var(--dm-background-gradient-start);
  width: fit-content;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
}

.page-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.page-header a {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.page-title {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  filter: drop-shadow(10px 10px 15px var(--dm-drop-shadow));
}

.page-title-text h1 {
  color: transparent;
}

.page-center {
  margin: auto;
  width: 75%;
}

.media-display {
  width: 95%;
  margin: auto;
}

.divider-container {
  width: 100%;
  margin: auto;
  padding-top: 13px;
  padding-bottom: 13px;
}

.divider-container-small {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.media-divider {
  width: 10%;
  height: 5px;
  background-color: var(--dm-green);
  margin: auto;
}

.active,
.collapsible:hover {
  background-color: var(--dm-background-gradient-start);
}

.code-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.code-showcase img {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 10px;
  max-width: 100%;
  z-index: 10;
}

.design-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.design-showcase img {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 10px;
  width: 100%;
  z-index: 10;
}

.design-showcase video {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 10px;
  width: 100%;
  z-index: 10;
}

.design-showcase iframe {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 10px;
  z-index: 10;
}

.code-showcase video {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 10px;
  width: 100%;
  z-index: 10;
}

.gallery-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.gallery-showcase img {
  border-radius: 5px;
  width: 100%;
}

.info-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.info-showcase img {
  width: 100%;
  z-index: 10;
}

.ack-showcase {
  margin: auto;
  width: 90%;
  border-style: solid;
  border-width: 3px;
  border-color: var(--dm-orange);
  border-radius: 10px;
  text-align: center;
}

.ack-showcase-mini {
  margin: auto;
  width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: var(--dm-orange);
  border-radius: 10px;
  text-align: center;
}

.ack-showcase h1 {
  font-size: 25px;
  color: var(--dm-orange);
}

.ack-showcase p1 {
  color: var(--dm-orange);
}

.project-container {
  border-radius: 0px 0px 10px 10px;
  border-image: linear-gradient(to bottom, rgba(0, 255, 197, 1), rgba(0, 23, 31, 0) 50%) 1;
  border-style: none solid solid solid;
  border-width: 5px;
  padding: 10px;
  max-width: 100%;
}

.gallery-container {
  border-radius: 0px 0px 10px 10px;
  border-image: linear-gradient(to bottom, rgba(0, 255, 197, 1), rgba(0, 23, 31, 0) 50%) 1;
  border-style: none solid solid solid;
  border-width: 5px;
  padding: 10px;
  max-width: 100%;
}

.collapsible {
  border-style: solid;
  border-width: 5px;
  border-color: #00FFC5;
  border-radius: 10px;
  width: 100%;
  background-color: #00171F;
  margin: auto;
  font-family: "League Spartan", Arial, sans-serif;
  color: #00FFC5;
  font-style: italic;
  min-height: 300px;
  cursor: pointer;
  overflow: hidden;
}

.gallery-collapsible {
  border-style: solid;
  border-width: 5px;
  border-color: #00FFC5;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  background-color: #00171F;
  margin: auto;
  font-family: "League Spartan", Arial, sans-serif;
  color: #00FFC5;
  font-style: italic;
  min-height: 200px;
  cursor: pointer;
  overflow: hidden;
}

.collapsible:after {
  content: "+";
  font-size: 50px;
  font-style: normal;
  float: left;
  margin-left: 10px;
  color: #00FFC5;
}

.collapsible.active:after {
  content: "-";
  color: #3185FC;
}

.gallery-collapsible:after {
  content: "+";
  font-size: 50px;
  font-style: normal;
  float: left;
  margin-left: 10px;
  color: #00FFC5;
}

.gallery-collapsible.active:after {
  content: "-";
  color: #3185FC;
}

#gallery-button-favorites {
  border-radius: 10px 10px 0px 0px;
}

#gallery-button-favorites:after {
  content: "-";
  color: #3185FC;
}

#gallery-button-favorites.active:after {
  content: "+";
  color: #00FFC5;
}

.gallery-collapsible .button-text {
  font-size: 400%;
}

#interactive-data-viz {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/code/interactive-data-viz/interactive-data-viz-cover.jpg") no-repeat left center;
  background-size: cover;
}

#spotify-bot {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/code/spotify-bot/spotify-bot-cover.jpg") no-repeat left center;
  background-size: cover;
}

#n-queen-solver {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/code/n-queens/n-queens-cover.jpg") no-repeat left center;
  background-size: cover;
}

#rpi-campus-map {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/code/rpi-campus-map/rpi-campus-map-cover.jpg") no-repeat left center;
  background-size: cover;
}

#tcp-wordle-server {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/code/tcp-wordle-server/tcp-wordle-server-cover.jpg") no-repeat left center;
  background-size: cover;
}

#my-website {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/background.png") no-repeat left center;
  background-size: cover;
}

#triumph-modular {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/project-details/triumph-modular/triumph-modular-cover.jpg") no-repeat left center;
  background-size: cover;
}

#darth-croft {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/project-details/darth-croft/darth-croft-cover.jpg") no-repeat left center;
  background-size: cover;
}

#window {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/project-details/window/window-cover.jpg") no-repeat left center;
  background-size: cover;
}

#kara {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/project-details/kara/kara-cover.jpg") no-repeat left center;
  background-size: cover;
}

#guitar-ad {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/project-details/guitar-ad/guitar-ad-cover.jpg") no-repeat left center;
  background-size: cover;
}

#house {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/project-details/house/house-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-favorites {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/favorites/eve-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-2023 {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/2023/guitar-water-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-2022 {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/2022/supercharger-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-old {
  background: linear-gradient(to bottom, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 1)),
    linear-gradient(to right, rgba(0, 23, 31, 0.2), rgba(0, 23, 31, 0.5) 20%, rgba(0, 23, 31, 1) 60%),
    url("media/3d/old/air-balloon-cover.jpg") no-repeat left center;
  background-size: cover;
}

.about-grid {
  display: grid;
  gap: 20px;
  padding-top: 20px;
}

.grid-item {
  border-radius: 10px;
  outline-color: black;
  outline-width: 5px;
  outline-style: solid;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.about-section {
  width: 100%;
  height: 100%;
}

.about-date {
  margin: auto;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-wrap: nowrap;
  height: fit-content;
  display: inline;
  padding-right: 5px;
  padding-left: 10px;
}

.scroll-progress {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-wrap: nowrap;
  height: 100%;
  width: 8%;
  display: inline-flex;
}

.scroll-graphic-container {
  height: 70%;
  width: 20%;
  margin: auto;
}

.scroll-graphic {
  background: linear-gradient(#3185FC, #00FFC5);
  height: 100%;
  width: 100%;
  border-radius: 50px;
  margin-top: auto;
  display: none;
}

.scroll-percent {
  margin: auto;
  height: 30%;
  text-align: center;
}

.about-item-shell {
  display: flex;
  width: 100%;
}

.about-date p2 {
  font-size: 12px;
}

.about-item-container {
  padding: 10px;
  border-color: #00FFC5;
  background-color: #00171fc5;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  width: 100%;
}

.about-list-container {
  border-color: #00FFC5;
  background-color: #00171fc5;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  display: flex;
  height: 100%;
}

.about-skills-container {
  padding-right: 10px;
  height: 100%;
}

.about-skills-container .column {}

.skills-list-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-wrap: nowrap;
  width: fit-content;
  text-align: center;
  border-left-style: solid;
  border-left-width: 3px;
  border-color: #00FFC5;
  padding: 5px;
}

.about-section-title {
  padding-bottom: 5px;
}

.about-divider {
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #00FFC5, 45%, rgba(0, 0, 0, 0));
}

.about-sub-divider {
  width: 100%;
  background-color: #00FFC5;
  height: 2px;
}

.about-sub-container {
  width: 100%;
}

.about-tags {
  margin-left: auto;
  width: fit-content;
  border-style: solid;
  border-radius: 5px;
  border-color: #00FFC5;
  padding: 5px;
  border-width: 1px;
  float: right;
}

.about-tags p2 {
  font-size: 12px;
}

.about-name {
  width: fit-content;
  display: inline-block;
}

.about-name h3 {
  font-size: 15px;
}

.scroll-container {
  height: 300px;
}

.about-scroll-box {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 92%;
  float: right;
  height: 100%
}

.about-scroll-box::-webkit-scrollbar {
  display: none;
}

ul.about-list {
  padding-inline-start: 0px;
  list-style: none;
  overflow-y: scroll;
  padding: 0px;
  margin: 0;
}

li {
  color: #00FFC5;
}

.project-info-container {
  padding: 25px;
  max-width: 150px;
  margin-left: auto;
}

.project-info-container-commercial {
  padding: 25px;
  max-width: 300px;
  margin-left: auto;
}

.project-info {
  border-style: solid;
  border-width: 1px;
  border-color: #00FFC5;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lekton", Arial, sans-serif;
  font-style: normal;
  color: #00FFC5;
  padding: 5px;
}

.project-info-commercial {
  border-style: solid;
  border-width: 1px;
  border-color: #F0A211;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lekton", Arial, sans-serif;
  font-style: normal;
  color: #F0A211;
  padding: 5px;
}

.button-text-container {
  padding: 20px;
  max-width: 70%;
  margin-left: auto;
}

.button-text {
  z-index: 1;
  color: white;
  font-size: 300%;
  text-align: right;
  /* Align the button text to the right */
  color: #00FFC5;
  margin-left: auto;
  min-height: 100%;
}

.iframe-wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.img-wrapper {
  position: relative;
  margin: auto;
  max-width: 100%;
  padding: 5px;
}

.portrait-wrapper {
  position: relative;
  margin: auto;
  max-width: 100%;
  padding: 5px;
  filter: drop-shadow(10px 10px 10px #02ad86);
}

.circle-img-wrapper {
  position: relative;
  margin: auto;
  max-width: 90%;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #00FFC5;
  border-radius: 100%;
  overflow: hidden;
}

.gallery-img-wrapper {
  position: relative;
  margin: auto;
  max-width: 100%;
  padding: 5px;
  cursor: pointer;
}

.learn-more-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.learn-more-icon p1 {
  color: #3185FC
}

.image-details-mini {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-details-mini p1 {
  font-size: 30px;
  color: #3185FC;
}

.image-details-mini h1 {
  font-size: 30px;
  color: #3185FC;
}

.image-details-mini a {
  color: #F0A211;
}

.ack-showcase-mini h1 {
  font-size: 20px;
  color: #F0A211;
}

.ack-showcase-mini p1 {
  font-size: 15px;
  color: #F0A211;
}

.image-details-mini .media-divider {
  background-color: #3185FC;
}

.description-text {
  max-width: 90%;
  margin: auto;
}

.info-text {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

.info-showcase .description-text {
  border-style: solid;
  border-width: 5px;
  border-color: #00FFC5;
  border-radius: 10px;
  background-color: #00171fb6;
  padding: 20px;
}

.info-showcase .info-text {
  border-style: solid;
  border-width: 5px;
  border-color: #00FFC5;
  border-radius: 10px;
  padding: 20px;
  background-color: #00171fb6;
}

.description-text a {
  font-size: 20px;
}

.info-text a {
  font-size: 20px;
}

.code-text {
  width: 100%;
  margin: auto;
}

.title-text {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.subtitle-text-center {
  margin: auto;
  text-align: center;
}

.subtitle-text-center p1 {
  font-size: 25px;
  font-style: italic;
}

.subtitle-text-left p1 {
  font-size: 20px;
  font-style: italic;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 15px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  flex-basis: 50%;
}

.code-showcase .row {
  padding-bottom: 5px;
  padding-top: 5px;
}

.switch {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10%;
  padding-bottom: 0px;
}

.switch-btn {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 16px;
  font-family: "League Spartan", Arial, sans-serif;
  border-style: solid;
  border-width: 5px;
  border-color: #00FFC5;
  text-align: center;
  cursor: pointer;
}

.switch-btn:hover {
  border-color: #3185FC;
}

#switch-left {
  border-radius: 10px 0px 0px 10px;
  background-color: #00171F;
  color: #00FFC5;
}

#switch-right {
  border-radius: 0px 10px 10px 0px;
  background-color: #00171F;
  color: #00FFC5;
}

#switch-left.active {
  background-color: #00FFC5;
  color: #00171F;
}

#switch-right.active {
  background-color: #00FFC5;
  color: #00171F;
}

@media screen and (max-aspect-ratio: 16/9) {
  body {
    background-size: auto;
  }

  .body-dm {
    background-size: auto;
  }

  .column {
    flex-basis: 100%;
    /* Change the flex-basis to 100% to make items stack vertically */
  }

  .info-text {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 90%;
  }

  .info-text {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .info-showcase .info-text {
    padding: 10px;
  }

  .info-showcase .description-text {
    padding: 10px;
  }

  .circle-img-wrapper {
    width: 75%;
  }

  .image-details-mini h1 {
    font-size: 20px;
  }

  .image-details-mini p1 {
    font-size: 20px;
  }

  .image-details-mini a {
    font-size: 20px;
  }

  .ack-showcase-mini h1 {
    font-size: 15px;
  }

  .ack-showcase-mini p1 {
    font-size: 15px;
  }

  .home-menu-container {
    outline: none;
  }

  .home-icon-border {
    padding-top: 0px;
  }

  #home-titles {
    display: none;
  }

  .page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-title-text {
    padding-bottom: 10px;
  }

  .switch {
    padding-left: 0%;
    padding-bottom: 30px;
  }

  .about-date {
    padding-left: 0px;
  }

  .about-skills-container {
    padding-right: 0px;
  }
}

.code-border {
  border-style: solid;
  border-width: 1px;
  border-color: #00FFC5;
  width: fit-content;
  border-radius: 10px;
  background-color: black;
}

.source-border {
  border-style: solid;
  border-width: 1px;
  border-color: #00FFC5;
  border-radius: 10px;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.source-border:hover {
  border-color: #3185FC;
}

code[class*="language-"] {
  text-shadow: none;
}

pre[class*="language-"] {
  border-radius: 0px;
  background: none;
  border: none;
  box-shadow: none;
  overflow-y: hidden;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding: 0em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers>code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows>span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}