@import "./globals.css";

@font-face {
  font-family: 'League Spartan';
  src: url('fonts/leaguespartan-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lekton';
  src: url('fonts/Lekton-Regular.ttf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'X-Scale';
  src: url('fonts/X-SCALE_.TTF') format('opentype');
  font-style: normal;
}

body {
  background-color: var(--dm-background-gradient-end);
  height: 100vh;
  background-image: var(--dm-bg-image4), var(--dm-bg-image3), var(--dm-bg-image2), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

#about-page-body {
  background-image: var(--dm-bg-image4), var(--dm-bg-image3), var(--dm-bg-image2), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
}

#contact-page-body {
  background-image: var(--dm-bg-image3), var(--dm-bg-image2), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
}

#work-page-body {
  background-image: var(--dm-bg-image3), var(--dm-bg-image2), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
}

#index-page-body {
  overflow-y: hidden;
}

h1 {
  margin: 4px;
  font-size: 60px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
}

h2 {
  margin: 4px;
  font-size: 25px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
  font-style: italic;
}

h3 {
  margin: 4px;
  font-size: 18px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
}

p1 {
  font-size: 20px;
  font-family: "Lekton", Arial, sans-serif;
  color: var(--dm-green);
}

p2 {
  font-size: 15px;
  font-family: "Lekton", Arial, sans-serif;
  color: var(--dm-green);
}

p3 {
  font-size: 20px;
  color: var(--dm-green);
  font-family: "League Spartan", Arial, sans-serif;
  text-indent: 0;
}

a {
  font-size: 25px;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--dm-blue);
}

a:active {
  text-decoration: none;
}

.gradient-slide {
  background: linear-gradient(90deg, var(--dm-green), var(--dm-green), var(--dm-blue), var(--dm-blue), var(--dm-green), var(--dm-green));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%;
  animation: rainbow 20s ease infinite;
  display: block;
  position: absolute;
}

@keyframes rainbow {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.sheen-slide {
  background: linear-gradient(-75deg, var(--dm-sheen-start) 0%, var(--dm-sheen-start) 49%, var(--dm-sheen-end) 49%, var(--dm-sheen-end) 51%, var(--dm-sheen-start) 51%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: slide 6s infinite;
  position: absolute;
}

@keyframes slide {
  from {
    background-position: 180%;
  }

  to {
    background-position: -80%;
  }
}

.home-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  filter: drop-shadow(10px 10px 15px var(--dm-drop-shadow));
}

.home-menu-container {
  padding: 30px;
  outline: solid;
  outline-width: 5px;
  outline-color: var(--dm-green);
  border-radius: 10px;
}

.home-icon-border {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.home-title {
  position: relative;
}

.home-title h1 {
  color: transparent;
}

.icon-text-border {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 3%;
  padding-right: 3%;
}

#links {
  display: flex;
  flex-direction: column;
}

#links a {
  margin: 4px;
}

.socials-icons {
  text-align: center;
}

.socials-icons .fa {
  font-size: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.light-toggle-container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 99;
}

.scroll-up-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 99;
}

.light-toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--dm-light-toggle-bg);
  color: var(--dm-light-toggle-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

.scroll-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--dm-light-toggle-bg);
  color: var(--dm-light-toggle-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

.light-toggle:hover {
  color: var(--dm-blue);
}

.page-footer {
  width: 100%;
  background-color: var(--dm-footer-background);
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.page-footer p1 {
  font-size: 12px;
}

.page-header-content {
  padding: 10px;
  background-color: var(--dm-background-gradient-start);
  width: fit-content;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
}

.page-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.page-header a {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.page-title {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  filter: drop-shadow(10px 10px 15px var(--dm-drop-shadow));
}

.page-title-text h1 {
  color: transparent;
}

.page-center {
  margin: auto;
  width: 75%;
}

.media-display {
  width: 95%;
  margin: auto;
}

.divider-container {
  width: 100%;
  margin: auto;
  padding-top: 13px;
  padding-bottom: 13px;
}

.divider-container-small {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.media-divider-slim {
  width: 90%;
  height: 2px;
  background-color: var(--dm-green);
  margin: auto;
}

.media-divider {
  width: 10%;
  height: 5px;
  background-color: var(--dm-green);
  margin: auto;
}

.active,
.collapsible:hover {
  background-color: var(--dm-background-gradient-start);
}

.code-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.code-showcase img {
  border-radius: 10px;
  max-width: 100%;
  z-index: 10;
}

.design-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.design-showcase img {
  border-radius: 10px;
  width: 100%;
  z-index: 10;
}

.design-showcase video {
  border-radius: 10px;
  width: 100%;
  z-index: 10;
}

.design-showcase iframe {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 10px;
  z-index: 10;
}

.code-showcase video {
  border-radius: 10px;
  width: 100%;
  z-index: 10;
}

.gallery-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.gallery-showcase img {
  width: 100%;
  display: block;
}

.info-showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
}

.info-showcase img {
  width: 100%;
  z-index: 10;
}

.ack-showcase {
  margin: auto;
  width: 90%;
  border-style: solid;
  border-width: 3px;
  border-color: var(--dm-orange);
  border-radius: 10px;
  text-align: center;
}

.ack-showcase-mini {
  margin: auto;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-orange);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.ack-showcase h1 {
  font-size: 25px;
  color: var(--dm-orange);
}

.ack-showcase p1 {
  color: var(--dm-orange);
}

.project-container {
  border-radius: 0px 0px 10px 10px;
  border-image: linear-gradient(to bottom, var(--dm-green), var(--dm-background-gradient-start) 50%) 1;
  border-style: none solid solid solid;
  border-width: 5px;
  padding: 10px;
  max-width: 100%;
  background-color: var(--dm-green-transparent);
}

.gallery-container {
  border-radius: 0px 0px 10px 10px;
  border-image: linear-gradient(to bottom, var(--dm-green), var(--dm-background-gradient-start) 50%) 1;
  border-style: none solid solid solid;
  border-width: 5px;
  padding: 0px;
  max-width: 100%;
}

.collapsible {
  border-style: solid;
  border-width: 5px;
  border-color: var(--dm-green);
  border-radius: 10px;
  width: 100%;
  background-color: var(--dm-background-gradient-start);
  margin: auto;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
  font-style: italic;
  min-height: 300px;
  cursor: pointer;
  overflow: hidden;
}

.collapsible .software-icons {
  transform: translate(0px, -30px);
}

.gallery-collapsible {
  border-style: solid;
  border-width: 5px;
  border-color: var(--dm-green);
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  background-color: var(--dm-background-gradient-start);
  margin: auto;
  font-family: "League Spartan", Arial, sans-serif;
  color: var(--dm-green);
  font-style: italic;
  min-height: 200px;
  cursor: pointer;
  overflow: hidden;
}

.collapsible:after {
  content: "+";
  font-size: 50px;
  font-style: normal;
  float: left;
  margin-left: 10px;
  color: var(--dm-green);
}

.collapsible.active:after {
  content: "-";
  color: var(--dm-blue);
}

.gallery-collapsible:after {
  content: "+";
  font-size: 50px;
  font-style: normal;
  float: left;
  margin-left: 10px;
  color: var(--dm-green);
}

.gallery-collapsible.active:after {
  content: "-";
  color: var(--dm-blue);
}

#gallery-button-favorites {
  border-radius: 10px 10px 0px 0px;
}

#gallery-button-favorites:after {
  content: "-";
  color: var(--dm-blue);
}

#gallery-button-favorites.active:after {
  content: "+";
  color: var(--dm-green);
}

.gallery-collapsible .button-text {
  font-size: 400%;
}

#interactive-data-viz {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/code/interactive-data-viz/interactive-data-viz-cover.jpg") no-repeat left center;
  background-size: cover;
}

#spotify-bot {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/code/spotify-bot/spotify-bot-cover.jpg") no-repeat left center;
  background-size: cover;
}

#n-queen-solver {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/code/n-queens/n-queens-cover.jpg") no-repeat left center;
  background-size: cover;
}

#rpi-campus-map {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/code/rpi-campus-map/rpi-campus-map-cover.jpg") no-repeat left center;
  background-size: cover;
}

#tcp-wordle-server {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/code/tcp-wordle-server/tcp-wordle-server-cover.jpg") no-repeat left center;
  background-size: cover;
}

#my-website {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/background.png") no-repeat left center;
  background-size: cover;
}

#prototype {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/project-details/prototype/protoype-rear.webp") no-repeat left center;
  background-size: cover;
}

#prototype .button-text {
  transform: translate(0px, -20px);
  font-size: 70px;
  font-family: "X-Scale", Arial, sans-serif;
}

#prototype .software-icons {
  transform: translate(0px, -10px);
}

#triumph-modular {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/project-details/triumph-modular/triumph-modular-cover.jpg") no-repeat left center;
  background-size: cover;
}

#darth-croft {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/project-details/darth-croft/darth-croft-cover.jpg") no-repeat left center;
  background-size: cover;
}

#window {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/project-details/window/window-cover.jpg") no-repeat left center;
  background-size: cover;
}

#kara {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/project-details/kara/kara-cover.jpg") no-repeat left center;
  background-size: cover;
}

#guitar-ad {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/project-details/guitar-ad/guitar-ad-cover.jpg") no-repeat left center;
  background-size: cover;
}

#house {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/project-details/house/house-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-favorites {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/favorites/eve-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-2024 {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/2024/abell39-1.webp") no-repeat left center;
  background-size: cover;
}

#gallery-button-2023 {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/2023/guitar-water-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-2022 {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/2022/supercharger-cover.jpg") no-repeat left center;
  background-size: cover;
}

#gallery-button-old {
  background: linear-gradient(to bottom, var(--dm-project-gradient1), var(--dm-project-gradient2)),
    linear-gradient(to right, var(--dm-project-gradient1), var(--dm-project-gradient4) 20%, var(--dm-project-gradient2) 60%),
    url("media/3d/old/air-balloon-cover.jpg") no-repeat left center;
  background-size: cover;
}

.about-grid {
  display: grid;
  gap: 20px;
  padding-top: 20px;
}

.grid-item-title {
  /* text-align: center; */
}

.school {
  background-color: #999;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.school-logo {
  width: 33.33%;
  text-align: right;
}

.school-logo img {
  width: 50%;
  margin: auto;
}

.school-about {
  width: 66.66%;
  background-color: var(--dm-background-gradient-start);
}

.grid-item {
  border-radius: 10px;
  outline-color: var(--dm-green);
  outline-width: 1px;
  outline-style: solid;
  padding: 5px;
  font-size: 30px;
  background-color: var(--dm-green-transparent);
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1;
}

.item3 {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.item4 {
  grid-column: 1;
  grid-row: 2;
}

.about-section {
  width: 100%;
  height: 100%;
}

.about-date {
  margin: auto;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-wrap: nowrap;
  height: fit-content;
  display: inline;
  padding-right: 5px;
  padding-left: 10px;
}

.scroll-progress {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-wrap: nowrap;
  height: 100%;
  width: 8%;
  display: inline-flex;
}

.scroll-graphic-container {
  height: 70%;
  width: 20%;
  margin: auto;
}

.scroll-graphic {
  background: linear-gradient(#3185FC, #00FFC5);
  height: 100%;
  width: 100%;
  border-radius: 50px;
  margin-top: auto;
  display: none;
}

.scroll-percent {
  margin: auto;
  height: 30%;
  text-align: center;
}

.about-item-shell {
  display: flex;
  width: 100%;
}

.about-date p2 {
  font-size: 12px;
}

.about-item-container {
  padding: 10px;
  width: 100%;
  text-align: center;
}

.about-list-container {
  border-color: #00FFC5;
  background-color: #00171fc5;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  display: flex;
  height: 100%;
}

.about-skills-container {
  padding-right: 10px;
  height: 100%;
}

.about-skills-container h2 {
  text-align: center;
  font-style: normal;
}

.about-skills-container .column {}

.skills-list-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-wrap: nowrap;
  width: fit-content;
  text-align: center;
  border-left-style: solid;
  border-left-width: 3px;
  border-color: #00FFC5;
  padding: 5px;
}

.about-section-title {
  padding-bottom: 5px;
}

.about-divider {
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #00FFC5, 45%, rgba(0, 0, 0, 0));
}

.about-sub-divider {
  width: 100%;
  background-color: #00FFC5;
  height: 2px;
}

.about-sub-container {
  width: 100%;
}

.about-tags {
  margin-left: auto;
  width: fit-content;
  border-style: solid;
  border-radius: 5px;
  border-color: #00FFC5;
  padding: 5px;
  border-width: 1px;
  float: right;
}

.about-tags p2 {
  font-size: 12px;
}

.about-name {
  width: fit-content;
  display: inline-block;
}

.about-name h3 {
  font-size: 15px;
}

.scroll-container {
  height: 300px;
}

.about-scroll-box {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 92%;
  float: right;
  height: 100%
}

.about-scroll-box::-webkit-scrollbar {
  display: none;
}

ul.about-list {
  padding-inline-start: 0px;
  list-style: none;
  overflow-y: scroll;
  padding: 0px;
  margin: 0;
}

li {
  color: #00FFC5;
}

.project-info-container {
  padding: 25px;
  max-width: 150px;
  margin-left: auto;
}

.project-info-container-commercial {
  padding: 25px;
  max-width: 300px;
  margin-left: auto;
}

.project-info {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lekton", Arial, sans-serif;
  font-style: normal;
  color: var(--dm-green);
  padding: 5px;
}

.project-info-commercial {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-orange);
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lekton", Arial, sans-serif;
  font-style: normal;
  color: var(--dm-orange);
  padding: 5px;
}

.software-icons {
  transform: translate(0px, -10px);
  position: absolute;
  padding: 10px;
  font-size: 40px;
  width: fit-content;
}

.button-text-container {
  padding: 20px;
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
}

.button-text {
  z-index: 1;
  font-size: 300%;
  text-align: right;
  color: var(--dm-green);
  margin-left: auto;
  min-height: 100%;
  font-style: normal;
}

.button-description {
  z-index: 1;
  text-align: right;
  color: var(--dm-green);
  margin-left: auto;
  min-height: 100%;
}

.iframe-wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  padding-top: 56.25%;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-wrapper {
  position: relative;
  margin: auto;
  max-width: 100%;
  text-align: center;
  padding: 5px;
}

.portrait-wrapper {
  position: relative;
  margin: auto;
  max-width: 100%;
  padding: 5px;
  filter: drop-shadow(10px 10px 10px var(--dm-drop-shadow));
}

.circle-img-wrapper {
  position: relative;
  margin: auto;
  max-width: 90%;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: var(--dm-green);
  border-radius: 100%;
  overflow: hidden;
}

.gallery-img-wrapper {
  position: relative;
  margin: auto;
  max-width: 100%;
  cursor: pointer;
}

.learn-more-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.learn-more-icon p1 {
  color: var(--dm-blue)
}

.image-details-mini {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-details-mini p1 {
  font-size: 30px;
  color: var(--dm-blue);
}

.image-details-mini h1 {
  font-size: 30px;
  color: var(--dm-blue);
}

.image-details-mini a {
  color: var(--dm-orange);
}

.ack-showcase-mini h1 {
  font-size: 20px;
  color: var(--dm-orange);
}

.ack-showcase-mini p1 {
  font-size: 15px;
  color: var(--dm-orange);
}

.image-details-mini .media-divider {
  background-color: var(--dm-blue);
}

.description-text {
  max-width: 90%;
  margin: auto;
}

.info-showcase .description-text {
  border-style: solid;
  border-width: 5px;
  border-color: var(--dm-green);
  border-radius: 10px;
  background-color: var(--dm-green-transparent);
  padding: 20px;
}

.info-showcase .info-text {
  border-style: solid;
  border-width: 5px;
  border-color: var(--dm-green);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--dm-green-transparent);
  text-align: center;
}

.info-showcase .contact-text {
  border-style: solid;
  border-width: 5px;
  border-color: var(--dm-green);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--dm-green-transparent);
  text-align: center;
  margin: auto;
}

.description-text a {
  font-size: 20px;
}

.info-text a {
  font-size: 20px;
}

.code-text {
  width: 100%;
  margin: auto;
}

.title-text {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.subtitle-text-center-col {
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

.subtitle-text-center-col p1 {
  font-size: 25px;
}

.subtitle-text-center {
  margin: auto;
  text-align: center;
}

.subtitle-text-center p1 {
  font-size: 25px;
}

.subtitle-text-left p1 {
  font-size: 20px;
  font-style: italic;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 15px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  flex-basis: 50%;
  padding-bottom: 0px;
}

.code-showcase .row {
  padding-bottom: 5px;
  padding-top: 5px;
}

.switch {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10%;
  padding-bottom: 0px;
}

.switch-btn {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 16px;
  font-family: "League Spartan", Arial, sans-serif;
  border-style: solid;
  border-width: 5px;
  border-color: var(--dm-green);
  text-align: center;
  cursor: pointer;
}

.switch-btn:hover {
  border-color: var(--dm-blue);
}

#switch-left {
  border-radius: 10px 0px 0px 10px;
  background-color: var(--dm-background-gradient-start);
  color: var(--dm-green);
}

#switch-right {
  border-radius: 0px 10px 10px 0px;
  background-color: var(--dm-background-gradient-start);
  color: var(--dm-green);
}

#switch-left.active {
  background-color: var(--dm-green);
  color: var(--dm-background-gradient-start);
}

#switch-right.active {
  background-color: var(--dm-green);
  color: var(--dm-background-gradient-start);
}

@media screen and (max-aspect-ratio: 16/9) {
  body {
    background-size: fit;
    background-image: var(--dm-bg-image1), linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
  }

  #contact-page-body {
    background-image: linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
  }

  #work-page-body {
    background-image: linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
  }

  #about-page-body {
    background-image: linear-gradient(var(--dm-background-gradient-start), var(--dm-background-gradient-end) 100%);
  }

  .body-dm {
    background-size: auto;
  }

  .column {
    flex-basis: 100%;
    /* Change the flex-basis to 100% to make items stack vertically */
  }

  .info-showcase .description-text {
    padding: 10px;
  }

  .circle-img-wrapper {
    width: 75%;
  }

  .image-details-mini h1 {
    font-size: 20px;
  }

  .image-details-mini p1 {
    font-size: 20px;
  }

  .image-details-mini a {
    font-size: 20px;
  }

  .ack-showcase-mini h1 {
    font-size: 15px;
  }

  .ack-showcase-mini p1 {
    font-size: 15px;
  }

  .home-menu-container {
    outline: none;
  }

  .home-icon-border {
    padding-top: 0px;
  }

  #home-titles {
    display: none;
  }

  .page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-title-text {
    padding-bottom: 10px;
  }

  .switch {
    padding-left: 0%;
    padding-bottom: 30px;
  }

  .about-date {
    padding-left: 0px;
  }

  .about-skills-container {
    padding-right: 0px;
  }

  .software-icons {
    display: none;
  }
}

.code-border {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  width: fit-content;
  border-radius: 10px;
  background-color: black;
}

.source-border {
  border-style: solid;
  border-width: 1px;
  border-color: var(--dm-green);
  border-radius: 10px;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.source-border:hover {
  border-color: var(--dm-blue);
}

code[class*="language-"] {
  text-shadow: none;
}

pre[class*="language-"] {
  border-radius: 0px;
  background: none;
  border: none;
  box-shadow: none;
  overflow-y: hidden;
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding: 0em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers>code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows>span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* The .ib and .ibc classes included below contain the minimum
 * necessary CSS properties for icon display. Additional size,
 * transform, and animation styles are available in icon-blender.css
 * from https://github.com/icon-blender/icon-blender
 *
 * LICENSES
 * BoxIcons: CC BY 4.0
 * Simple Icons: CC0 1.0
 * VSCode Icons: MIT
 */

 .ib::before,
 .ibc::before{
   display: inline-block;
   height: 1em;
   width: 1em;
   vertical-align: -.125em;
   content:'';
 }
 
 .ib::before{
   background: currentColor;
   mask-image: var(--url);
   mask-repeat: no-repeat;
   mask-position: center;
   -webkit-mask-image: var(--url);
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: center;
 }
 
 .ibc::before{
   background-image: var(--url);
   background-size: contain;
   background-position: 50% 50%;
   background-repeat:no-repeat;
 }
 
 /* Html: <i class="ib bx-bxl-blender"></i> */
 .bx-bxl-blender{
   --url: url('data:image/svg+xml,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3e%3cpath d=%22M12.427 13.011c.037-.667.363-1.254.856-1.671a2.855 2.855 0 0 1 1.844-.66c.71 0 1.36.25 1.845.66c.492.417.819 1.005.856 1.671c.038.686-.237 1.323-.721 1.795a2.829 2.829 0 0 1-1.979.782a2.83 2.83 0 0 1-1.981-.782c-.483-.472-.759-1.109-.72-1.795z%22 fill=%22currentColor%22/%3e%3cpath d=%22M8.124 14.361c.005.26.089.767.213 1.164a6.156 6.156 0 0 0 1.328 2.299a6.833 6.833 0 0 0 2.323 1.667a7.465 7.465 0 0 0 3.05.635a7.495 7.495 0 0 0 3.051-.645a6.913 6.913 0 0 0 2.321-1.675a6.196 6.196 0 0 0 1.326-2.303a5.76 5.76 0 0 0 .25-1.285a5.942 5.942 0 0 0-.888-3.594a6.496 6.496 0 0 0-1.545-1.703l.001-.001l-6.249-4.799l-.016-.014c-.411-.314-1.101-.313-1.551.002c-.457.319-.508.846-.104 1.18l-.001.001l2.606 2.121l-7.943.009h-.012c-.656 0-1.287.432-1.412.976c-.128.555.318 1.015 1.001 1.017l-.001.003l4.027-.008l-7.188 5.516l-.027.021c-.677.519-.896 1.382-.47 1.929c.434.556 1.354.556 2.04.002l3.922-3.209c.001 0-.056.433-.052.694zm10.078 1.45c-.808.824-1.938 1.291-3.163 1.293c-1.226.002-2.356-.461-3.165-1.283a3.739 3.739 0 0 1-.864-1.352a3.503 3.503 0 0 1-.199-1.511c.044-.505.193-.987.434-1.422c.236-.429.562-.815.962-1.144a4.477 4.477 0 0 1 2.832-.988a4.478 4.478 0 0 1 2.832.98c.399.326.725.711.961 1.139c.24.436.39.916.434 1.421a3.52 3.52 0 0 1-.198 1.511a3.804 3.804 0 0 1-.866 1.356z%22 fill=%22currentColor%22/%3e%3c/svg%3e');
 }
 
 /* Html: <i class="ib simple-icons-houdini"></i> */
 .simple-icons-houdini{
   --url: url('data:image/svg+xml,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22%3e%3cpath d=%22M0 19.635V24h3.824A8.662 8.662 0 0 1 0 19.635zm16.042-4.555c0-4.037-3.253-7.92-8.111-8.089C4.483 6.873 1.801 8.136 0 10.005v4.209c1.224-3.549 4.595-5.158 7.419-5.128c3.531.041 6.251 2.703 6.275 5.72c0 2.878-1.183 4.992-4.436 5.516c-1.774.296-4.548-.754-4.436-3.434c.065-1.381 1.138-2.162 2.366-2.106c-1.207 1.618.39 2.801 1.52 2.561a2.51 2.51 0 0 0 1.966-2.502c0-1.017-.958-2.662-3.333-2.6c-2.936.068-4.785 2.183-4.85 4.797c-.071 3.28 3.007 5.457 6.174 5.483c4.633.059 7.395-2.984 7.377-7.441zM0 0v6.906a12.855 12.855 0 0 1 7.931-2.609c6.801 0 11.134 4.762 11.131 10.765c0 4.17-1.946 7.308-4.995 8.938H24V0H0z%22 fill=%22currentColor%22/%3e%3c/svg%3e');
 }
 
 /* Html: <i class="ibc vscode-icons-file-type-maya"></i> */
 .vscode-icons-file-type-maya{
   --url: url('data:image/svg+xml,%3csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 32 32%22%3e%3cdefs%3e%3clinearGradient id=%22IconifyId-195ce20eaa3-1c837a-2724%22 x1=%22-611.348%22 y1=%22-67.488%22 x2=%22-600.272%22 y2=%22-65.335%22 gradientTransform=%22matrix%281.437 0 0 -1.437 894.417 -82.292%29%22 gradientUnits=%22userSpaceOnUse%22%3e%3cstop offset=%220%22 stop-color=%22%230f6067%22/%3e%3cstop offset=%22.5%22 stop-color=%22%2305abac%22/%3e%3cstop offset=%221%22 stop-color=%22%2358bec4%22/%3e%3c/linearGradient%3e%3clinearGradient id=%22IconifyId-195ce20eaa3-1c837a-2725%22 x1=%22-603.594%22 y1=%22-77.699%22 x2=%22-602.011%22 y2=%22-59.604%22 gradientTransform=%22matrix%281.437 0 0 -1.437 894.417 -82.292%29%22 gradientUnits=%22userSpaceOnUse%22%3e%3cstop offset=%220%22 stop-color=%22%23117c83%22/%3e%3cstop offset=%22.5%22 stop-color=%22%2321b5b5%22/%3e%3cstop offset=%221%22 stop-color=%22%237ed4d4%22/%3e%3c/linearGradient%3e%3clinearGradient id=%22IconifyId-195ce20eaa3-1c837a-2726%22 x1=%22-612.757%22 y1=%22-59.906%22 x2=%22-616.934%22 y2=%22-72.76%22 gradientTransform=%22matrix%281.437 0 0 -1.437 894.417 -82.292%29%22 gradientUnits=%22userSpaceOnUse%22%3e%3cstop offset=%220%22 stop-color=%22%239accd3%22/%3e%3cstop offset=%22.5%22 stop-color=%22%2372aeb3%22/%3e%3cstop offset=%221%22 stop-color=%22%23317d7f%22/%3e%3c/linearGradient%3e%3clinearGradient id=%22IconifyId-195ce20eaa3-1c837a-2727%22 x1=%22-621.851%22 y1=%22-74.579%22 x2=%22-614.84%22 y2=%22-72.301%22 gradientTransform=%22matrix%281.437 0 0 -1.437 894.417 -82.292%29%22 gradientUnits=%22userSpaceOnUse%22%3e%3cstop offset=%220%22 stop-color=%22%2321626e%22/%3e%3cstop offset=%22.5%22 stop-color=%22%23157c84%22/%3e%3cstop offset=%221%22 stop-color=%22%2303a3a5%22/%3e%3c/linearGradient%3e%3clinearGradient id=%22IconifyId-195ce20eaa3-1c837a-2728%22 x1=%22-616.369%22 y1=%22-64.469%22 x2=%22-625.34%22 y2=%22-72.835%22 gradientTransform=%22matrix%281.437 0 0 -1.437 894.417 -82.292%29%22 gradientUnits=%22userSpaceOnUse%22%3e%3cstop offset=%220%22 stop-color=%22%230b7c81%22/%3e%3cstop offset=%22.5%22 stop-color=%22%23068d90%22/%3e%3cstop offset=%221%22 stop-color=%22%2316b1b1%22/%3e%3c/linearGradient%3e%3clinearGradient id=%22IconifyId-195ce20eaa3-1c837a-2729%22 x1=%22-608.072%22 y1=%22-74.678%22 x2=%22-603.488%22 y2=%22-70.966%22 gradientTransform=%22matrix%281.437 0 0 -1.437 894.417 -82.292%29%22 gradientUnits=%22userSpaceOnUse%22%3e%3cstop offset=%220%22 stop-color=%22%230a8a8f%22/%3e%3cstop offset=%22.5%22 stop-color=%22%230f7c82%22/%3e%3cstop offset=%221%22 stop-color=%22%231a5964%22/%3e%3c/linearGradient%3e%3clinearGradient id=%22IconifyId-195ce20eaa3-1c837a-2730%22 x1=%22-601.134%22 y1=%22-70.113%22 x2=%22-606.008%22 y2=%22-67.067%22 gradientTransform=%22matrix%281.437 0 0 -1.437 894.417 -82.292%29%22 gradientUnits=%22userSpaceOnUse%22%3e%3cstop offset=%220%22 stop-color=%22%23256a77%22/%3e%3cstop offset=%22.5%22 stop-color=%22%230d9499%22/%3e%3cstop offset=%221%22 stop-color=%22%2306a0a2%22/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath d=%22M21.6 3.462H30L18.767 24.211s-1.893-5.5-2.706-7.459%22 fill=%22url%28%23IconifyId-195ce20eaa3-1c837a-2724%29%22/%3e%3cpath d=%22M23.669 29.118H30V3.462c-.005 13.407-5.64 25.656-6.331 25.656z%22 fill=%22url%28%23IconifyId-195ce20eaa3-1c837a-2725%29%22/%3e%3cpath d=%22M18.767 24.211h-5.226L2 3.462c2.047-.26 6.135-.611 8.16-.776z%22 fill=%22url%28%23IconifyId-195ce20eaa3-1c837a-2726%29%22/%3e%3cpath d=%22M8.693 16.019C6.96 22.866 1.995 29.32 2 29.314c5.752 0 6.991-.835 6.991-1.276V16.54c-.101-.17-.197-.346-.298-.521z%22 fill=%22url%28%23IconifyId-195ce20eaa3-1c837a-2727%29%22/%3e%3cpath d=%22M2 3.462v25.852c3.147-5.2 4.981-8.6 6.6-13.45C4.6 8.794 2 3.462 2 3.462z%22 fill=%22url%28%23IconifyId-195ce20eaa3-1c837a-2728%29%22/%3e%3cpath fill=%22url%28%23IconifyId-195ce20eaa3-1c837a-2729%29%22 d=%22M23.233 28.102l.436 1.016V15.647l-.436.728%22/%3e%3cpath d=%22M23.647 15.673v13.4l.016.043c.452 0 6.332-14.5 6.332-25.656c0 .002-3.589 7.487-6.348 12.213z%22 fill=%22url%28%23IconifyId-195ce20eaa3-1c837a-2730%29%22/%3e%3c/svg%3e');
 }